 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}
/* shered */
.display-flex{
  display: flex;
}
.text-gray{
  color:#424242 ;
}
.text-light-gray{
color:#727272;
}
.light-bg{
  background-color:rgb( 255, 144, 14, 0.1) ;
}
.btn-primary{
  background-color:#FF900E ;
  color: white;
  padding: 20px 25px;
  font: size 1.25;
  font-weight: 600;
  border-radius: 8px;
}
main{
  max-width: 1200px;
  margin: 0 auto;
}
main >section{
  margin-top: 130px;
}
/* header */

/* nav */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-size: 3rem;
  font-weight: 800;
}
  .nav-item{
    list-style: none;
    margin-right:30px;
    max-width: 1200px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }
  .navbar, .banner{
  max-width:1440px;
  margin: 0 auto;

  }
  /* .banner */
  .banner-content{
    text-align: center;
   max-width:  880px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-img{
    width: 100%;
  }
  
  /* team  future related */
  .teams{
    align-items: center;
   
  }
  .team-img-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
     gap: 20px;
    
  }
  .our-features{
    margin-left: 130px;
    max-width: 530px;
  }
  .feature-title {
    font-weight: 700;
    font-size:2.8rem;
  }
  .Features-color{
    color: #FF900E;
  }
#Quick-list{
font-weight: 500;
}
  @media screen and (max-width:576px){
   .nav-link,.navbar{
    flex-direction: column;
  gap: 20px;
   }
    
  }